.details-page{
        height: calc(100vh - 70px);
    .banner{
    background-image: url("https://cdn.theatlantic.com/media/img/photo/2018/10/images-of-the-season-fall-is-in-the/f02_RTX6EJJJ-1/original.jpg");
    border-radius: 0 0 30px 30px;
    padding: 1rem;
    height: 50%;
    background-size: contain;
    background-attachment: fixed;
    header.controls{
        .breadcrumb-container{
            margin: 0
        }
    }
    }
}