.details-page{
        height: calc(100vh - 70px);
    .banner{
            background-image: repeating-linear-gradient(45deg, black, transparent 100px);
    border-radius: 0 0 30px 30px;
    padding: 1rem;
    header.controls{
        .breadcrumb-container{
            margin: 0
        }
    }
    }
}