.skills{
  .technology-container{
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    justify-content: center;
    padding: 1rem 0.5rem;
    }
}