.skills {
  .technology-container {
    border: 1px solid var(--white_4);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    justify-content: center;
    padding: 1rem 0.5rem;
  }
}
