.search-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 33px;
  .search-input {
    all: unset;
    background: var(--white_4);
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    padding: 0 1rem;
    margin: 0 auto;
    font-size: 14px;
  }
  button {
    all: unset;
    background: var(--clr_cyan_dark_2);
    font-weight: bold;
    padding: 0 0.3rem;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    font-size: 14px;
    &:active {
      background: var(--cyan_dark);
    }
  }
}
