.blog-page{
    color: #fff;
    padding: 1rem;
   .topics{
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 0;
    font-size: 14px;
    width: 100%;
    overflow: scroll;
    gap: .5rem;
    align-items: center;
    > li{
            padding: .4rem .6rem;
    background: rgb(0 40 60);
    border-radius: 10px;
    line-height: 1;

    }
   }
}