.blog-page {
  color: var(--white);
  padding: 0.5rem;
  .articles-container {
    margin-bottom: 52px;
  }
  h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  // .articles-container{
  //         height: 326px;
  // overflow: auto;
  // }
}
