.projectCard{
    background: rgb(255 255 255 / 4%);
    width: 48%;
    border-radius: 10px;
    height: 130px;
    overflow: hidden;
    .top{
            height: 60%;
    background: #fd79a8;
    border-radius: 10px 10px 0 0;
    }
    .bottom{
    display: flex;
    flex-direction: column;
    padding: .3rem;
    .createdDate{
        font-size: 10px;
    }
    .projectName{
            font-size: 12px;
    font-weight: bold;
    }
    }
}