article {
  position: relative;
  height: 100px;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  border: 1px solid var(--white_4);
  border-radius: 5px;
  margin: 0.5rem 0;
  .img-container {
    max-width: 45%;
    height: 100%;
    > {
      img {
        border-radius: 5px 0px 0px 5px;
        width: 100%;
        height: 100%;
      }
      .tag {
        position: absolute;
        right: 5px;
        padding: 0 0.3rem 0.1rem 0.3rem;
        border-radius: 9px;
        font-size: 13px;
        color: var(--white_61);
        top: 5px;
        border: 1px solid var(--gray__36);
      }
    }
  }
  .article-content {
    span.time-of-read {
      color: var(--white_61);
      font-size: 10px;
    }
    .article-headline {
      margin: 2vw 0;
    }
    .article-traffic {
      display: flex;
      align-items: center;
      font-size: 14px;
      gap: 1rem;
    }

    .likes,
    .comments,
    .publish-date {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.3rem;
      color: var(--white_61);
      font-size: 12px;
    }
  }
}
