.dark-mode{
    --dark_1: #10151e;
    --white: #fff;
    --white_4: #ffffff0a;
    --white_61: rgb(255 255 255 / 61%);
    --gray_36: rgb(110 110 110 / 36%);
    --cyan_dark: rgb(0 40 60);
    --cyan_light: #74b9ff;
    --green_light: hsl(176deg 100% 31%);
    --olive_light: #97bf0d;
    --dark_2: #151b26;
    --red_1: #cb2025;
    --orange_1: #f8b334;
}

.light-mode{
    --dark_1: red;
    --white: blue;
    --white_4: green;
}
