.dark-mode{
    --dark_1: #10151e;
    --white: #fff;
    --white_4: #ffffff0a;
    --white_61: rgb(255 255 255 / 61%);
    --gray__36: rgb(110 110 110 / 36%);
}

.light-mode{
    --dark_1: red;
    --white: blue;
    --white_4: green;
}
