
@use "../../scss/_functions.scss" as *;
@use "../../scss/_keyframes.scss" as *;

.wrapper{
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #10151e;
  overflow: hidden;
  position: relative;
  // hide .wrapper after welcomeScreen animation ended
  animation: hide .4s 3s ease forwards;

  h3{
    font-size: 50px;
    color: #fff;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    opacity: 0;
    animation: fade ease .5s  2s forwards;
  }
  span{
  width: 15vw; // 10px 10pt 2rem 100vw
  height: 15vw; // 10px 10pt
  // border-radius: 100%;
  background: transparent;
  display: inline-block;
  margin: .5rem;
  box-shadow: blankShadow();
  position: absolute;
  transform-origin: 0 220px;
  transform: rotate(calc(30deg * var(--i)));
  left: 50%;
  animation: rotate ease 2s alternate forwards;
}
}









