.navbar-container * {
  transition: width 0.3s, flex-grow 0.3s, background 0.3s;
}
.navbar-container {
  position: fixed;
  bottom: 0rem;
  background: var(--dark_1);
  width: 100vw;
  z-index: 22;

  .navbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 0;
    background: var(--dark_2); //#ffffff0a;
    margin: 0.5rem;
    border-radius: 5px;

    li {
      display: flex;
      color: var(--gray_36);
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    span {
      padding: 0.3rem;
    }
  }
}

.hide {
  opacity: 0;
  width: 0;
  display: none; // this property is very important here, as it fix design issue
}
.active {
  color: var(--white) !important;
  background: var(--white_4); // rgb(0 80 120 / 23%);
  border-radius: 5px;
  flex-grow: 0.2;
}




@media (min-width: 425px){
  .navbar-container{
    width: auto;
    height: 100vh;
    right: 0;
    .navbar{
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    justify-content: start;
    li{
      padding: 1rem;
    }
  }
  }
  .active > a > span{
    display: none !important;
  }
  
}