.navbar-container *{
    transition: width .3s, flex-grow .3s, background .3s;
}
.navbar-container{
    position: fixed;
    bottom: 0rem;
    background: #10151e;
    width: 100vw;
    z-index: 22;
   
    .navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    margin: 0;
    background: #151b26;//#ffffff0a;
    margin: 0.5rem;
    border-radius: 5px;
    
    
    li{
        display: flex;
        color: #6e6e6e6e;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        a{
    // all: unset;
    padding: 0.3rem;
        }
    }
    span{
        padding: .3rem;
    }
    }
}

.hide{
    opacity: 0;
    width: 0;
    display:none; // this property is very important here, as it fix design issue
}
.active{
    color: #fff !important;
    background: #ffffff0a; // rgb(0 80 120 / 23%);
    border-radius: 5px;
    flex-grow: .5;
}