.navbar-container *{
    transition: width .3s, flex-grow .3s, background .3s;
}
.navbar-container{
    position: fixed;
    bottom: 0rem;
    background: #10151e;
    width: 97vw;
    border-radius: 5px;
    margin: 0.3rem;
    .navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .7rem;
    margin: 0;
    li{
        display: flex;
        color: #6e6e6e6e;
        gap: .5rem;
        align-items: center;
        justify-content: center;
    }
    span{
        padding: .3rem;
    }
    }
}

.hide{
    opacity: 0;
    width: 0;
}
.active{
    color: #fff !important;
    background: #ffffff0a; // rgb(0 80 120 / 23%);
    border-radius: 5px;
    flex-grow: .5;
}