.projects-page{
    color: #fff;
    padding: 0.5rem;
    height: calc(100vh - 70px);
    .technologies{
        // height: calc(100% - 215px);
        margin-bottom: 1rem;
        h3{text-align: center;}

    }
    .projects-categories{
            display: flex;
            align-items: flex-end;
    gap: .5rem;
    justify-content: center;
    // flex-direction: column;
    .tech{

    width: 96%;
    position: relative;
    padding: .5rem;
    }
    }
}