.projects-page{
    color: #fff;
    padding: 0.5rem;
    height: calc(100vh - 70px);
    .technologyBox-container{
        background: rgb(255 255 255 / 4%);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    }
}