.newsletter-container {
  display: flex;
  height: calc(100vh - 52px);
  align-items: center;
  flex-direction: column;
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark_2);
    padding: 2rem 0;
    border-radius: 0.5rem;
    .img-container {
      border-radius: 100%;
      background: var(--white);
      height: 150px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60%;
      }
    }
    .description {
      text-align: center;
      width: 90%;
      h3 {
        color: var(--clr_cyan_dark_2);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0.7rem 0;
      }
      p {
        font-size: 14px;
        color: var(--clr_gray_43);
        margin: 0 0 2rem 0;
      }
    }
    .email-box {
      width: 90%;
      position: relative;
      input {
        all: unset;
        border-radius: 20px;
        background: var(--white);
        height: 40px;
        font-size: 14px;
        width: 90%;
        color: var(--clr_black);
        padding: 0 1rem;
      }
      .sendIcon {
        position: absolute;
        top: 50%;
        right: -15px;
        transform: translate(-50%, -50%);
        background: var(--gray_36);
        padding: 0.3rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
