

.tech{
    flex-basis: 70px;
    background: rgb(255 255 255 / 4%);
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .tech-name{
        font-size: 13px;
        text-align: center;
    }
}