.tech{
    flex-basis: 70px;
    background: rgb(255 255 255 / 4%);
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .tech-icon{
            font-size: 25px;
    color: rgb(0 160 240);
    }
    .tech-name{
        font-size: 13px;
    }
}