.about-me {
  .about {
    font-size: 13px;
    text-align: justify;
    border: 1px solid var(--white_4);
    border-radius: 5px;
    padding: 0.5rem;
    .read-more-btn {
      color: var(--cyan_light);
      text-decoration: underline;
      margin-left: 0.1rem;
      &:active {
        color: var(--clr_cyan_dark_2);
      }
    }
  }
}
