.projects-slider{
    display: flex;
    align-items: center;
    overflow: scroll;
    width: 100%;
    height: 100px;
    position: relative;
    gap: 1rem;
       .project{
           width: 170px;
           flex-shrink: 0;
    height: 100%;
//     background: conic-gradient(
//     hsl(360, 100%, 50%),
//     hsl(315, 100%, 50%),
//     hsl(270, 100%, 50%),
//     hsl(225, 100%, 50%),
//     hsl(180, 100%, 50%),
//     hsl(135, 100%, 50%),
//     hsl(90, 100%, 50%),
//     hsl(45, 100%, 50%),
//     hsl(0, 100%, 50%)
// );
    border-radius: 10px;
    padding: .1rem;
    img{
            height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    }
   }
   
   .nextArrow,.prevArrow{
     position: fixed;
    filter: drop-shadow(2px 4px 6px rgb(0 160 240));
    color: rgb(0 160 240);
   }
   .nextArrow{
    right: 15px;
   }
   .leftArrow{
    left: 15px;
   }
}